<Files "xmlrpc.php">
Order Allow,Deny
Deny from all
</Files>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# Canonical hostname
<IfModule mod_rewrite.c>
#Options +FollowSymLinks
#RewriteCond %{HTTP_HOST} !^citylinktv\.com$
#RewriteRule (.*) http://<%= @host %>/$1 [R=301,L]
</IfModule>