<%- if node['varnish']['version'] == '4.0' %>
vcl 4.0;
<%- end %>

# From https://github.com/pkhamre/wp-varnish/blob/master/wordpress.vcl

# Default backend definition.  Set this to point to your content server.

backend default {
    .host = "<%= node['varnish']['backend_host'] %>";
    .port = "<%= node['varnish']['backend_port'] %>";
  .connect_timeout = 60s;
  .first_byte_timeout = 60s;
	.between_bytes_timeout = 60s;
	.max_connections = 800;
}

acl purge {
  "localhost";
  "127.0.0.1";
 "52.8.157.222";
  "<%= @host %>";
}

include "./purge.vcl";

sub vcl_recv {
  if (req.method == "BAN") {
    if(!client.ip ~ purge) {
      return (synth(405, "Not allowed."));
    }
    ban("req.url ~ "+req.url+" && req.http.host == "+req.http.host);
    return (synth(200, "Banned."));
  }

  if (req.method != "GET" &&
      req.method != "HEAD" &&
      req.method != "PUT" &&
      req.method != "POST" &&
      req.method != "TRACE" &&
      req.method != "OPTIONS" &&
      req.method != "DELETE") {
    return (pipe);
  }

  if (req.method != "GET" && req.method != "HEAD") {
    return (pass);
  }

  if (req.url ~ "wp-(login|admin)" || req.url ~ "preview=true" || req.url ~ "fpm-status" || req.url ~ "channel-embed" || req.url ~ "protected") {
    return (pass);
  }

  unset req.http.cookie;
  return (hash);
}

sub vcl_backend_response {
  if (beresp.status == 404) {
    set beresp.ttl = 0m;
    set beresp.uncacheable = true;
    return(deliver);
  }
  if (bereq.url ~ "wp-(login|admin)" || bereq.url ~ "preview=true" || bereq.url ~ "fpm-status" || bereq.url ~ "channel-embed" || bereq.url ~ "protected") {
    set beresp.uncacheable = true;
    return (deliver);
  }

  set beresp.ttl = 24h;
  return (deliver);
}
