<?xml version="1.0" encoding="UTF-8"?>
<Root version="1">
        <MediaCache>
                <WriterThreadPool>
                        <PoolSize>${com.wowza.wms.TuningAuto}</PoolSize>
                </WriterThreadPool>
                <ReadAheadThreadPool>
                        <PoolSize>${com.wowza.wms.TuningAuto}</PoolSize>
                </ReadAheadThreadPool>
                <MaxPendingWriteRequestSize>${com.wowza.wms.TuningAuto}</MaxPendingWriteRequestSize>
                <MaxPendingReadAheadRequestSize>${com.wowza.wms.TuningAuto}</MaxPendingReadAheadRequestSize>
                <GCFrequency>10000</GCFrequency>
                <ContextMapperClass></ContextMapperClass>
                <AddFileExtensionIfNeeded>true</AddFileExtensionIfNeeded>
                <URLEscapeStreamNameSpaces>true</URLEscapeStreamNameSpaces>
                <URLEscapeStreamNameAll>false</URLEscapeStreamNameAll>
                <OnStartReloadCache>false</OnStartReloadCache>
                <OnStartReloadCacheVerifySource>true</OnStartReloadCacheVerifySource>
                <DebugLog>false</DebugLog>
        </MediaCache>
        <MediaCacheStores>
                <MediaCacheStore>
                        <Name>default</Name>
                        <Description>Default Store</Description>
                        <!-- variables: ${com.wowza.wms.context.ServerConfigHome} -->
                        <Path>/mnt/mediacache</Path>
                        <MaxSize>14G</MaxSize>
                        <Level1FolderCount>24</Level1FolderCount>
                        <Level2FolderCount>24</Level2FolderCount>
                        <FileCount>1000</FileCount>
                        <WriteRate>16M</WriteRate>
                        <WriteRateMaxBucketSize>64M</WriteRateMaxBucketSize>
                        <WriteRateFillFrequency>100</WriteRateFillFrequency>
                        <Properties>
                        </Properties>
                </MediaCacheStore>
        </MediaCacheStores>
        <MediaCacheSources>
                <!-- dvr repeater -->
                <MediaCacheSource>
                        <Name>dvrorigin</Name>
                        <Type>HTTP</Type>
                        <Description>Default DVR source</Description>
                        <BasePath>http://</BasePath>
                        <Prefix>dvrorigin/</Prefix>
                        <BaseClass>com.wowza.wms.mediacache.impl.MediaCacheItemHTTPImpl</BaseClass>
                        <ReaderClass></ReaderClass>
                        <DefaultBlockSize>262144</DefaultBlockSize>
                        <MaxTimeToLive>86400000</MaxTimeToLive>
                        <MinTimeToLive>600000</MinTimeToLive>
                        <ReadAhead>true</ReadAhead>
                        <ReadAheadThreshold>50</ReadAheadThreshold>
                        <Properties>
                                <Property>
                                        <Name>httpReadTimeout</Name>
                                        <Value>3000</Value>
                                        <Type>Integer</Type>
                                </Property>
                        </Properties>
                </MediaCacheSource>
                <MediaCacheSource>
                        <Name>amazons3</Name>
                        <Type>AmazonS3</Type>
                        <BasePath>http://s3.amazonaws.com/</BasePath>
                        <Prefix>amazons3/</Prefix>
                        <BaseClass>com.wowza.wms.mediacache.impl.MediaCacheItemHTTPImpl</BaseClass>
                        <ReaderClass></ReaderClass>
                        <DefaultBlockSize>1M</DefaultBlockSize>
                        <MaxTimeToLive>14400000</MaxTimeToLive>
                        <MinTimeToLive>300000</MinTimeToLive>
                        <ReadAhead>true</ReadAhead>
                        <ReadAheadThreshold>50</ReadAheadThreshold>
                        <IsPassThru>false</IsPassThru>
                        <Properties>
                                <Property>
                                        <Name>maxPoolSize</Name>
                                        <Value>25</Value>
                                        <Type>Integer</Type>
                                </Property>
                                <Property>
                                        <Name>httpReadTimeout</Name>
                                        <Value>6000</Value>
                                        <Type>Integer</Type>
                                </Property>
                                <Property>
                                        <Name>httpConnectionTimeout</Name>
                                        <Value>6000</Value>
                                        <Type>Integer</Type>
                                </Property>
                                <Property>
                                        <Name>httpReadRetries</Name>
                                        <Value>3</Value>
                                        <Type>Integer</Type>
                                </Property>
                                <Property>
                                        <Name>httpSendBufferSize</Name>
                                        <Value>8000</Value>
                                        <Type>Integer</Type>
                                </Property>
                                <Property>
                                        <Name>httpReceiveBufferSize</Name>
                                        <Value>65000</Value>
                                        <Type>Integer</Type>
                                </Property>
                                <Property>
                                        <Name>isAmazonS3</Name>
                                        <Value>true</Value>
                                        <Type>Boolean</Type>
                                </Property>
                                <Property>
                                        <Name>s3BucketNameInDomain</Name>
                                        <Value>true</Value>
                                        <Type>Boolean</Type>
                                </Property>
                                <Property>
                                        <Name>awsAccessKeyId</Name>
                                        <Value><%= @awsAccessKeyId %></Value>
                                        <Type>String</Type>
                                </Property>
                                <Property>
                                        <Name>awsSecretAccessKey</Name>
                                        <Value><%= @awsSecretAccessKey %></Value>
                                        <Type>String</Type>
                                </Property>
                        </Properties>
                        <Description></Description>
                </MediaCacheSource>
        </MediaCacheSources>
</Root>