<?xml version="1.0" encoding="UTF-8" ?>
<Root>
        <Tune>
                <!--
                        HeapSize

                        ${com.wowza.wms.TuningHeapSizeProduction} - Assumes Wowza Streaming Engine is only application running on server
                        ${com.wowza.wms.TuningHeapSizeDevelopment} - Assumes Wowza Streaming Engine is sharing resources with other applications

                        or specify heap size directly (ex: <HeapSize>8000M</HeapSize>)
                -->
                <HeapSize>${com.wowza.wms.TuningHeapSizeProduction}</HeapSize>

                <!--
                        GarbageCollector

                        ${com.wowza.wms.TuningGarbageCollectorConcurrentDefault} - Concurrent Collector (recommended)
                        ${com.wowza.wms.TuningGarbageCollectorG1Default} - G1 (Garbage First) Collector

                        or specify custom GC settings directly (ex: <GarbageCollector>-XX:+UseConcMarkSweepGC -XX:+UseParNewGC -XX:NewSize=512m</GarbageCollector>)
                -->
                <GarbageCollector>${com.wowza.wms.TuningGarbageCollectorConcurrentDefault}</GarbageCollector>

                <!--
                        VM Options - other VM startup options

                        ${com.wowza.wms.AppHome} - Application home directory
                        ${com.wowza.wms.StartupDateTime} - Date and time the server was started
                -->
                <VMOptions>
                        <VMOption>-server</VMOption>
                        <VMOption>-Djava.net.preferIPv4Stack=true</VMOption>
                        <!-- <VMOption>-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=5005</VMOption> -->
                        <VMOption>-javaagent:/usr/local/WowzaStreamingEngine/newrelic/newrelic.jar</VMOption>
                        <!-- <VMOption>-XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath="${com.wowza.wms.AppHome}/logs"</VMOption> -->
                        <!-- <VMOption>-Duser.language=en -Duser.country=US -Dfile.encoding=Cp1252</VMOption> -->
                        <!-- <VMOption>-verbose:gc -Xloggc:"${com.wowza.wms.AppHome}/logs/gc_${com.wowza.wms.StartupDateTime}.log" -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:+PrintHeapAtGC -XX:+PrintGCApplicationConcurrentTime -XX:+PrintGCApplicationStoppedTime</VMOption> -->
                </VMOptions>
        </Tune>
</Root>