<?xml version="1.0" encoding="UTF-8"?>
<Root version="1">
    <Application>
        <Name>liveorigin</Name>
        <AppType>LiveHTTPOrigin</AppType>
        <Description></Description>
        <!-- Uncomment to set application level timeout values
        <ApplicationTimeout>60000</ApplicationTimeout>
        <PingTimeout>12000</PingTimeout>
        <ValidationFrequency>8000</ValidationFrequency>
        <MaximumPendingWriteBytes>0</MaximumPendingWriteBytes>
        <MaximumSetBufferTime>60000</MaximumSetBufferTime>
        <MaximumStorageDirDepth>25</MaximumStorageDirDepth>
        -->
        <Connections>
            <AutoAccept>true</AutoAccept>
            <AllowDomains></AllowDomains>
        </Connections>
        <!--
                StorageDir path variables

                ${com.wowza.wms.AppHome} - Application home directory
                ${com.wowza.wms.ConfigHome} - Configuration home directory
                ${com.wowza.wms.context.VHost} - Virtual host name
                ${com.wowza.wms.context.VHostConfigHome} - Virtual host config directory
                ${com.wowza.wms.context.Application} - Application name
                ${com.wowza.wms.context.ApplicationInstance} - Application instance name

        -->
        <Streams>
            <StreamType>live</StreamType>
            <StorageDir><%= @wowza_data_mountpoint %>/content</StorageDir>
            <KeyDir>${com.wowza.wms.context.VHostConfigHome}/keys</KeyDir>
            <!-- LiveStreamPacketizers (separate with commas): cupertinostreamingpacketizer, smoothstreamingpacketizer, sanjosestreamingpacketizer, mpegdashstreamingpacketizer, cupertinostreamingrepeater, smoothstreamingrepeater, sanjosestreamingrepeater, mpegdashstreamingrepeater, dvrstreamingpacketizer, dvrstreamingrepeater -->
            <LiveStreamPacketizers>cupertinostreamingpacketizer, mpegdashstreamingpacketizer, sanjosestreamingpacketizer, smoothstreamingpacketizer</LiveStreamPacketizers>
            <!-- Properties defined here will override any properties defined in conf/Streams.xml for any streams types loaded by this application -->
            <Properties>
            </Properties>
        </Streams>
        <Transcoder>
            <!-- To turn on transcoder set to: transcoder -->
            <LiveStreamTranscoder></LiveStreamTranscoder>
            <!-- [templatename].xml or ${SourceStreamName}.xml -->
            <Templates>${SourceStreamName}.xml,transrate.xml</Templates>
            <ProfileDir>${com.wowza.wms.context.VHostConfigHome}/transcoder/profiles</ProfileDir>
            <TemplateDir>${com.wowza.wms.context.VHostConfigHome}/transcoder/templates</TemplateDir>
            <Properties>
            </Properties>
        </Transcoder>
        <DVR>
            <!-- As a single server or as an origin, use dvrstreamingpacketizer in LiveStreamPacketizers above -->
            <!-- Or, in an origin-edge configuration, edges use dvrstreamingrepeater in LiveStreamPacketizers above -->
            <!-- As an origin, also add dvrchunkstreaming to HTTPStreamers below -->
            <!-- If this is a dvrstreamingrepeater, define Application/Repeater/OriginURL to point back to the origin -->
            <!-- To turn on DVR recording set Recorders to dvrrecorder.  This works with dvrstreamingpacketizer  -->
            <Recorders></Recorders>
            <!-- As a single server or as an origin, set the Store to dvrfilestorage-->
            <!-- edges should have this empty -->
            <Store></Store>
            <!--  Window Duration is length of live DVR window in seconds.  0 means the window is never trimmed. -->
            <WindowDuration>0</WindowDuration>
            <!-- Storage Directory is top level location where dvr is stored.  e.g. c:/temp/dvr -->
            <StorageDir>${com.wowza.wms.context.VHostConfigHome}/dvr</StorageDir>
            <!-- valid ArchiveStrategy values are append, version, delete -->
            <ArchiveStrategy>append</ArchiveStrategy>
            <!-- Properties for DVR -->
            <Properties>
            </Properties>
        </DVR>
        <TimedText>
            <!-- VOD caption providers (separate with commas): vodcaptionprovidermp4_3gpp, vodcaptionproviderttml, vodcaptionproviderwebvtt,  vodcaptionprovidersrt, vodcaptionproviderscc -->
            <VODTimedTextProviders></VODTimedTextProviders>
            <!-- Properties for TimedText -->
            <Properties>
            </Properties>
        </TimedText>
        <!-- HTTPStreamers (separate with commas): cupertinostreaming, smoothstreaming, sanjosestreaming, mpegdashstreaming, dvrchunkstreaming -->
        <HTTPStreamers>cupertinostreaming, smoothstreaming, sanjosestreaming, mpegdashstreaming</HTTPStreamers>
        <MediaCache>
            <MediaCacheSourceList></MediaCacheSourceList>
        </MediaCache>
        <SharedObjects>
            <StorageDir>${com.wowza.wms.context.VHostConfigHome}/applications/${com.wowza.wms.context.Application}/sharedobjects/${com.wowza.wms.context.ApplicationInstance}</StorageDir>
        </SharedObjects>
        <Client>
            <IdleFrequency>-1</IdleFrequency>
            <Access>
                <StreamReadAccess></StreamReadAccess>
                <StreamWriteAccess>*</StreamWriteAccess>
                <StreamAudioSampleAccess></StreamAudioSampleAccess>
                <StreamVideoSampleAccess></StreamVideoSampleAccess>
                <SharedObjectReadAccess>*</SharedObjectReadAccess>
                <SharedObjectWriteAccess>*</SharedObjectWriteAccess>
            </Access>
        </Client>
        <RTP>
            <!-- RTP/Authentication/[type]Methods defined in Authentication.xml. Default setup includes; none, basic, digest -->
            <Authentication>
                <PublishMethod>digest</PublishMethod>
                <PlayMethod>block</PlayMethod>
            </Authentication>
            <!-- RTP/AVSyncMethod. Valid values are: senderreport, systemclock, rtptimecode -->
            <AVSyncMethod>senderreport</AVSyncMethod>
            <MaxRTCPWaitTime>12000</MaxRTCPWaitTime>
            <IdleFrequency>75</IdleFrequency>
            <RTSPSessionTimeout>90000</RTSPSessionTimeout>
            <RTSPMaximumPendingWriteBytes>0</RTSPMaximumPendingWriteBytes>
            <RTSPBindIpAddress></RTSPBindIpAddress>
            <RTSPConnectionIpAddress>0.0.0.0</RTSPConnectionIpAddress>
            <RTSPOriginIpAddress>127.0.0.1</RTSPOriginIpAddress>
            <IncomingDatagramPortRanges>*</IncomingDatagramPortRanges>
            <!-- Properties defined here will override any properties defined in conf/RTP.xml for any depacketizers loaded by this application -->
            <Properties>
            </Properties>
        </RTP>
        <MediaCaster>
            <RTP>
                <RTSP>
                    <!-- udp, interleave -->
                    <RTPTransportMode>interleave</RTPTransportMode>
                </RTSP>
            </RTP>
            <StreamValidator></StreamValidator>
            <!-- Properties defined here will override any properties defined in conf/MediaCasters.xml for any MediaCasters loaded by this applications -->
            <Properties>
            </Properties>
        </MediaCaster>
        <MediaReader>
            <!-- Properties defined here will override any properties defined in conf/MediaReaders.xml for any MediaReaders loaded by this applications -->
            <Properties>
            </Properties>
        </MediaReader>
        <MediaWriter>
            <!-- Properties defined here will override any properties defined in conf/MediaWriter.xml for any MediaWriter loaded by this applications -->
            <Properties>
            </Properties>
        </MediaWriter>
        <LiveStreamPacketizer>
            <!-- Properties defined here will override any properties defined in conf/LiveStreamPacketizers.xml for any LiveStreamPacketizers loaded by this applications -->
            <Properties>
              <Property>
                <Name>cupertinoPlaylistChunkCount</Name>
                <Value>20</Value>
                <Type>Integer</Type>
              </Property>
              <Property>
                <Name>cupertinoChunkDurationTarget</Name>
                <Value>3000</Value>
                <Type>Integer</Type>
              </Property>
            </Properties>
        </LiveStreamPacketizer>
        <HTTPStreamer>
        <!-- Properties defined here will override any properties defined in conf/HTTPStreamers.xml for any HTTPStreamer loaded by this applications -->
        <Properties>
            <Property>
                <Name>httpOriginMode</Name>
                <Value>on</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>cupertinoCacheControlPlaylist</Name>
                <Value>max-age=1</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>cupertinoCacheControlMediaChunk</Name>
                <Value>max-age=3600</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>smoothCacheControlPlaylist</Name>
                <Value>max-age=1</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>smoothCacheControlMediaChunk</Name>
                <Value>max-age=3600</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>smoothCacheControlDataChunk</Name>
                <Value>max-age=3600</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>smoothStreamingEncryptionRandomIV</Name>
                <Value>false</Value>
                <Type>Boolean</Type>
            </Property>
            <Property>
                <Name>sanjoseCacheControlPlaylist</Name>
                <Value>max-age=1</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>sanjoseCacheControlMediaChunk</Name>
                <Value>max-age=3600</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>mpegdashCacheControlPlaylist</Name>
                <Value>max-age=1</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>mpegdashCacheControlMediaChunk</Name>
                <Value>max-age=3600</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>cupertinoUserHTTPHeaders</Name>
                <Value>Access-Control-Allow-Origin: *|Access-Control-Allow-Methods: GET, POST, OPTIONS|Access-Control-Allow-Headers: Range|Access-Control-Expose-Headers: Content-Length</Value>
                <Type>String</Type>
            </Property>
        </Properties>
    </HTTPStreamer>
    <Manager>
        <!-- Properties defined are used by the Manager -->
        <Properties>
        </Properties>
    </Manager>
    <Repeater>
        <OriginURL></OriginURL>
        <QueryString><![CDATA[]]></QueryString>
    </Repeater>
    <StreamRecorder>
        <Properties>
        </Properties>
    </StreamRecorder>
    <Modules>
        <Module>
            <Name>base</Name>
            <Description>Base</Description>
            <Class>com.wowza.wms.module.ModuleCore</Class>
        </Module>
        <Module>
            <Name>logging</Name>
            <Description>Client Logging</Description>
            <Class>com.wowza.wms.module.ModuleClientLogging</Class>
        </Module>
        <Module>
            <Name>flvplayback</Name>
            <Description>FLVPlayback</Description>
            <Class>com.wowza.wms.module.ModuleFLVPlayback</Class>
        </Module>
        <!--
            <Module>
                    <Name>ModuleMediaWriterFileMover</Name>
                    <Description>ModuleMediaWriterFileMover</Description>
                    <Class>com.wowza.wms.module.ModuleMediaWriterFileMover</Class>
            </Module>
            -->
            <Module>
                <Name>CityLinkTV</Name>
                <Description>Custom module that applies stream publish security and content management</Description>
                <Class>com.citylinktv.stream.Application</Class>
            </Module>
        </Modules>
        <!-- Properties defined here will be added to the IApplication.getProperties() and IApplicationInstance.getProperties() collections -->
        <Properties>
            <Property>
                <Name>awsAccessKey</Name>
                <Value><%= @awsAccessKeyId %></Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>awsSecretKey</Name>
                <Value><%= @awsSecretAccessKey %></Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>s3Bucket</Name>
                <Value><%= @s3Bucket %></Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>httpGateway</Name>
                <Value><%= @httpGateway %></Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>httpApiEndpoint</Name>
                <Value>video-api</Value>
                <Type>String</Type>
            </Property>
            <Property>
                <Name>limitRecordingLength</Name>
                <Value>true</Value>
                <Type>Boolean</Type>
            </Property>
            <Property>
                <Name>recordingLengthLimit</Name>
                <Value>18000</Value> <!-- currently limited to 4 hours 60 * 60 * 4 -->
                <Type>Integer</Type>
            </Property>
            <!--<Property>-->
                <!--<Name>securityPublishRequirePassword</Name>-->
                <!--<Value>false</Value>-->
                <!--<Type>Boolean</Type>-->
            <!--</Property>-->
            <!--<Property>-->
                <!--<Name>fileMoverDestinationPath</Name>-->
                <!--<Value>/mnt/s3</Value>-->
            <!--</Property>-->
            <!--<Property>-->
                <!--<Name>fileMoverDeleteOriginal</Name>-->
                <!--<Value>true</Value>-->
                <!--<Type>Boolean</Type>-->
            <!--</Property>-->
            <!--<Property>-->
                <!--<Name>fileMoverVersionFile</Name>-->
                <!--<Value>true</Value>-->
                <!--<Type>Boolean</Type>-->
            <!--</Property>-->
            <!--<Property>-->
                <!--<Name>fileMoverFileExtension</Name>-->
                <!--<Value>mp4</Value>-->
                <!--<Type>String</Type>-->
            <!--</Property>-->
        </Properties>
    </Application>
</Root>